<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\style.css">
    <title>Login using Github</title>
</head>

<body>
    <h1>Login using Github in Flask app</h1>
    <div class="Github_icon">
        <a href="{{url_for('github_login')}}">
            <img src="static\Github_logo.png"
             width="55px" height="55px" alt=" Github logo">
        </a>
    </div>
    
    
</body>

</html>